<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farmer's Portal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <body onload="startTime()">

    <div id="txt" class="card m-2 text-primary" style="width: 15rem; border: none;">
      <!-- <% const d = new Date(); %>
      <%= d %> -->
      </div>
    </div>
    
    <div id="google_translate_element" style="position:absolute; right:1%; top: 0%;"></div>
    
    
    
    
    
    <nav class="navbar navbar-expand-lg navbar-light bg-info mt-3" style="height: 70px;">
        <a class="navbar-brand text" href="#"><Strong>Farmers Portal</Strong></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto text-white">
            <li class="nav-item active ml-5">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item active ml-3">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item active ml-3">
                <a class="nav-link" href="https://www.farmersstop.com/">Emporium</a>
              </li>
              <li class="nav-item active ml-3">
                <a class="nav-link" href="#">Schemes</a>
              </li>
              <li class="nav-item active ml-3">
                <a class="nav-link" href="#">Useful Links</a>
              </li>
              <li class="nav-item active ml-3">
                <a class="nav-link" href="#">Smart Farming</a>
              </li>
              <li class="nav-item active ml-3">
                <a class="nav-link" href="#">Land Details</a>
              </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>